:root{
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5;
    --WHITE: #FFF;
}
body{
    font-family: roboto,sans-serif;
    font-size:16px;
    line-height:24px /* 150% */;
    font-weight: 400;
}
.logo a{
    font-size: 36px;
}
.logo span{
    color: var(--IRIS);
    text-decoration: none;
}
/* list style global*/
li{
    list-style: none;
}
ul{
    padding-left: 0%;
}

.header-sub{
    text-align: center;
}

.logo{
    text-decoration: none;
    color: var(--WHITE);
}
.header-solution{
    background-color: var(--NAVY-BLUE);
    color:var(--WHITE);
}
footer{
    background-color: var(--NAVY-BLUE);
    color:var(--WHITE);
}
.order{
    background-color: var(--IRIS);
    color: var(--WHITE);
}
h2{
    font-size: 40px;
}
.navi a{
    text-decoration: none;
}
.order{
    border-style: none;
    border-radius: 2%;
}
.order:hover{
    opacity: .5;
}
.contacts a{
    text-decoration: none;
    font-style: normal;
}